<div class="container">
  <div class="row-fluid">
    <div class="span4">
      <h1>Add new item</h1>

      <%= render 'form' %>
    </div>
    <div class="span8">

      <h1>Listing items</h1>

        <% @items.each do |item| %>
          <div class="well">
            <h2><%= item.name %></h2>

            <%= link_to 'Show', item %>
            <%= link_to 'Edit', edit_item_path(item) %>
            <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %>

          </div>
        <% end %>
      </table>
    </div>
  </div>
</div>
